.tasks {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.logo {
  height: 50px;
  width: 110px;
}

.navbar-options {
  display: flex;
}

.navbar h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: black;
  margin-left: 12px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header button {
  background: #6c63ff;
  border: 1px solid #6c63ff;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  color: white;
  margin-bottom: 8px;
}

.task-lists li button  {
  background:rgb(209, 70, 70);
  border: none;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  color: white;
  margin-bottom: 8px;
}

.form-ctn {
  z-index: 1;
  position: relative;
}


.task-lists ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
}

.task-lists li {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.task-items {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  border-radius: 11px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 2px;
}

.task-items p {
  font-style: normal;
  font-size: 20px;
}
