.Body {
  margin-top: 250px;
  text-align: center;
}
.Application {
  margin-bottom: 200px;
}
.Application .photo {
  display: flex;
  margin-left: 700px;
  margin-bottom: 50px;
}
.flexdis {
  display: flex;
}
.Application h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.Application h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.Application h2 {
  margin-left: 100px;
}
.details {
  margin-left: 150px !important;
}
.ul11 {
  list-style-type: none;
  margin-right: 400px;
}
.Application ul {
  list-style-type: none;
}
.Application li {
  margin-bottom: 40px;
}
.Application .column {
  display: flex;
  margin-left: 80px;
}
.questionarise {
  margin-left: 80px;
  text-align: left;
}
.questions {
  margin-left: 80px;
  width: 60%;
}
.Application select {
  margin-top: 40px;
  width: 1212px;
  background-color: #a5a0ff;
  height: 40px;
}
.Application .submit {
  margin-top: 50px;
  margin-left: 80px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  background-color: green;
  border-radius: 2px;
  margin-right: 200px;
  color: white;
}
.Application .decline {
  width: 120px;
  height: 30px;
  font-weight: bold;
  background-color: red;
  border-radius: 2px;
  color: white;
}
