
/* desktop */

.Body{
    margin-top: 30px;
    
    padding-left: 10%;
    padding-right: 10%;
}

.Body_Item1{
    margin-top: 40px;
    margin-bottom: 30px;  
    height: fit-content;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    transition: .3s all;
    margin-bottom: 85px;
}

.Image_Container > img{
    height: 110%;
    margin-top: 10px;
    transition: .3s all;
    padding-bottom: 5%;
    display: inline-block;
}

.Landing_text{
    flex-direction: column;
    margin-top: 20px;
    transition: .3s all;
    width: 100%;
}

.ambassador{
    text-align: right;
    margin-top: 10px;
    font-size: 25px;
    transition: .3s all;
}

.Join{
    font-size: 70px;
    color: rgb(47, 47, 189);
    transition: .3s all;
    text-align: right;
}

.Register_Container{
    margin-top: 15px;
    transition: .3s all;
}

.button{
    text-align: center;
    font-size: 25px;
    width: 190px;
    height: 35px;
    line-height: 35px;
    background-color: rgb(48, 48, 187);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: .3s all;
    position: absolute;
    margin-right: 10%;
    right: 0;
}

.button:hover{
    background-color: rgba(108,99,255,255);
    transition: all 500ms linear;
}

.Left{
    margin-top: 20px;
    font-size: 70px;
    color: rgb(47, 47, 189);
    transition: .3s all;
    text-align: left;
}

#Center{
    font-size: 70px;
    color: rgb(47, 47, 189);
    transition: .3s all;
    margin-top: 1%;
    margin-bottom: 3%;
}

.Body_Item2{
    margin-top: 25px;
    margin-bottom: 20px;
}

.Role_Image > img{
    width: 115%;
   
}

.heading{
    font-size: 50px;
    color: rgb(47, 47, 189);
}

.Role_details{
    display: flex;
    padding-top: 30px;
    margin-bottom: 20px;
}

.text{
    font-size: 20px;
    width: 50%;
    text-align: left;
    padding-right: 50px;
}

.information{
    margin-top: 20px;
    display: flex;
    align-items: center; 
}

.Body_Item3{
    margin-bottom: 8px;
}

       /* Media Queries */

@media(max-width:760px){
    .Body_Item1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Image_Container > img {
        width: 100%;
    }
    .Join{
        font-size: 40px;
        color: rgb(47, 47, 189);
        text-align: center;
    }
    
    #Center{
        font-size: 30px;
        color: rgb(47, 47, 189);
        text-align: left;
        padding-left: 2%;
    }

    .Left{
        font-size: 30px;
        color: rgb(47, 47, 189);
        transition: .3s all;
        text-align: center;
        /* margin-top: 50px; */
    }
    

    .ambassador{
        text-align: center !important ;
        margin-top: 10px;
        font-size: 18px;
    }
    .Register_Container{
        
        display: flex;
        justify-content: center;
        margin-top: 15px;
        transition: .3s all;
        position:relative ! important ;
    }
    .button{ 
        width: 35%;
        margin-right: -2%;
        right: 0;
        position:relative ; 
        justify-content:center;
    }

    
    .heading{
        font-size: 35px !important;
        text-align: center;
    }

    #Center{
        text-align: center;
    }

    .Role_details{
        display: flex;
        flex-direction: column-reverse;
    }
  
    .text{
        text-align: center;
        width: 100%;
    }

    .Role_Image > img{
        width: 100%;
        align-content: center;
        margin-bottom: 5%;
    }
}


@media(max-width:1200px){
    .Join{
        font-size: 50px;
        color: rgb(47, 47, 189);
    }

    .Image_Container > img{
        width: 170%;
        }
    .ambassador{
        text-align: right;
        margin-top: 10px;
        font-size: 20px;
    }
    .Left{
        font-size: 50px;
        color: rgb(47, 47, 189);
        transition: .3s all;
        text-align: left;
    }
    
    #Center{
        font-size: 50px;
        color: rgb(47, 47, 189);
        text-align: left;
        padding-left: 2%;
    }

    .button{
        text-align: center;
        font-size: 19px;
        width: 120px;
        line-height: 20px;
        height: 20px;
        background-color: rgb(48, 48, 187);
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: .3s all;
        position: absolute;
        margin-right: 10%;
        right: 0;
    }

}

@media(max-width:1040px){

    .Body{
        padding-left: 10%;
        padding-right: 10%;
        text-overflow: inherit;
    }

    .Image_Container {
    width: 90%;
    }

    .Body_Item1{
        margin-bottom: 30px;
    }
    
    
    .Join{
        font-size: 40px;
        color: rgb(47, 47, 189);
        /* margin-left: 5%; */
    }


    .ambassador{
        text-align: right;
        margin-top: 10px;
        font-size: 18px;
    }

    .button{
        text-align: center;
        font-size: 19px;
        width: 105px;
        height: 18px;
        background-color: rgb(48, 48, 187);
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: .3s all;
        position: absolute;
        margin-right: 10%;
        right: 0;
    }

    .Image_Container > img{
        height: 100%;
        margin-top: 10px;
        transition: .3s all;
        padding-bottom: 5%;
    }
    
    .Left{
        font-size: 40px;
        color: rgb(47, 47, 189);
        transition: .3s all;
        text-align: center;
        /* margin-top: 50px; */
    }
    
    #Center{
        font-size: 40px;
        color: rgb(47, 47, 189);
        transition: .3s all;
        text-align: left;
        padding-left: 2%;
    }

}

@media (max-width:760px){
    .Image_Container > img {
        width: 112%;
    }

    .heading{
        font-size: 40px;
        color: rgb(47, 47, 189);
    }
    
    .button{
        position: relative;
        margin-right: 10%;
        margin-left: 10%;
        right: 0;
    }
}

/* div styles */

.divider {
    display: flex;
}
.divider:before,
.divider:after {
  content: "";
  flex: 1;
}

.glow:before,
.glow:after {
      height: 6px;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      border-radius: 5px;
}
    
.glow:before {
      background: linear-gradient(to right, blue, hotpink);
}
    
.glow:after {
      background: linear-gradient(to left, blue, hotpink);
}

.gradient {
    align-items: stretch;
    margin: 1em 0;
    height: 2em;
    line-height: 2em;
    color: white;
    background: rgb(47, 47, 189);
}
    
.gradient:before {
      background: linear-gradient(to right, white, rgb(47, 47, 189));
    }
    
.gradient:after {
      background: linear-gradient(to left, white, rgb(47, 47, 189));
}

/* .donotcross {
    overflow: hidden;
    align-items: center;
    background: rgb(47, 47, 189);
    color: black;
    height: 2em;
    line-height: 2em;
}
      
.donotcross:before,
.donotcross:after {
      background: white;
      padding: 50px 0;
      height: 0;
      transform: rotate(45deg);
} */

/* div styles */
