.ForgotPassword {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ForgotPassword_header {
  width: 100%;
  padding: 0 50px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ForgotPassword_header a img {
  height: 80px;
  object-fit: contain;
}
.ForgotPassword_header a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.ForgotPassword_header a:hover {
  color: #564ed3;
}
.ForgotPassword_header a svg {
  margin-right: 10px;
}
.ForgotPassword_Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
.ForgotPassword_Container form {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ForgotPassword_Container form svg {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px 0;
}
.ForgotPassword_Container form h2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0;
}
.ForgotPassword_Container form label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 15px 0 5px 0;
}
.ForgotPassword_Container form input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #ccc;
  border-radius: 4px;
  padding: 7px 15px;
}
.ForgotPassword_Container form button {
  width: 100%;
  outline: none;
  border: none;
  background-color: #655dd6;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 7px 15px;
  margin: 20px 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .ForgotPassword_header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  .ForgotPassword_Container {
    position: relative;
    justify-content: center;
    padding: 10px;
    width: 100%;
    max-height: 600px;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
  }
  .ForgotPassword_Container form {
    position: relative;
    right: auto !important;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
  .ForgotPassword_Container form h1 {
    margin-bottom: 24px;
  }
  .ForgotPassword_Container form button {
    margin: 20px 0;
  }
  .ForgotPassword_Container form p {
    font-size: 15px;
  }
}
