.mark-tasks {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.logo {
  height: 50px;
  width: 110px;
}

.navbar-options {
  display: flex;
}

.navbar h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: black;
  margin-left: 12px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header input {
  background: #efefef;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
}

.search-bar {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .search-bar {
    width: fit-content;
  }
}

.menu-ctn select {
  margin: 10px;
  padding: 12px;
  background: #efefef;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  font-weight: 540;
  font-size: 13px;
  width: 200px;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .menu-ctn {
    align-items: center;
  }
  .menu-ctn select {
    width: fit-content;
  }
}

.task-lists ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .list-header {
    justify-content: center;
  }
}

.list-header p {
  padding: 8px;
  text-align: center;
}

.task-lists li {
  width: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a3a3a3;
  box-sizing: border-box;
  border-radius: 11px;
  padding-left: 12px;
  padding-right: 12px;
}

.task-item p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.green-text {
  color: #179d25;
}

.yellow-text {
  color: #ff8a00;
}
