.bodyp{
    margin-left: 7%;
    margin-right: 7%;
}

.Part1p{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    height: 320px;  
}

.P1L{
    line-height: 22px;
    font-size: 15px;
}

.Cardp{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.Cardp>img{
    border-radius: 50%;
}

.Cardp .End{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.Cardp:hover .End{
    display: inline;
    transition: .3s all;
}

.P1R{
    line-height: 25px;
    text-align: center;
}

.Style1p{
    font-size: 30px;
    font-weight: 300;
}

.P1L>img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.PStyle2p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight:500;
    text-align: left;
}

.PStyle3p{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid black;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.PStyle4p{
    font-size: 20px;
    width: 110px;
    height: 20px;
    line-height: 20px;
    background-color: rgb(48, 48, 187);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: .3s all;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

@media(max-width:1175px){
    
    .P1R>img{
        width:650px;
        height: 250px;
    }
}

@media(max-width:1065px){
    
    .P1R>img{
        width:570px;
        height: 240px;
    }
}

@media(max-width:965px){

    .Part1p{
        height: 340px;  
    }

    .P1L{
        padding-right: 10px;
    }
   
    .P1R>img{
        width:500px;
        height: 230px;
    }
}

@media(max-width:795px){

    .Part1p{
        height: 340px;  
    }
    .P1L{
        padding-right: 10px;
    }   
    .P1R>img{
        width:400px;
        height: 210px;
    }
}

@media(max-width:670px){

    .Part1p{
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .Part1p{
        height: 260px;  
    }

    .P1L{
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align: center;
    }

    .P1R{
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align: center;
    }  
    .P1R>img{
        margin-top: 20px;
        width:400px;
        height: 210px;
        
    }
    .Part2p{
        margin-top: 350px;
    }
}

@media(max-width:450px){ 
    .P1R>img{
        width:300px;
        height: 200px;
    }
}

@media(max-width:450px){    
    .P1R>img{
        width:220px;
        height: 150px;
    }
}