.Profile {
  width: 100%;
}
.Profile_details {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile_details .imgBox {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 50px;
  overflow: hidden;
}
.Profile_details .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Profile_details .contentBox {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.Profile_details .contentBox h1 {
  letter-spacing: 3px;
  font-size: 3.5em;
  font-weight: 600;
  position: relative;
  left: -15px;
}
.Profile_details .contentBox p {
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
}
.Profile_details .contentBox button {
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
  color: #564ed3;
  cursor: pointer;
}
.Profile_details .contentBox button:hover {
  color: #413a9e;
}
.Profile .Profile_status {
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: 600;
}
.Profile .Profile_status span {
  color: #ff5e00;
}

@media screen and (max-width: 600px) {
  .Profile_details {
    height: fit-content;
    flex-direction: column;
  }
  .Profile_details .imgBox {
    width: 150px;
    height: 150px;
    margin: 0;
  }
  .Profile {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
  }
  .Profile_details .contentBox {
    align-items: center;
  }
  .Profile_details .contentBox h1 {
    text-align: center;
    left: 0;
    font-size: 2.5em;
  }
  .Profile_details .contentBox p {
    text-align: center;
    font-size: 1.1em;
  }
  .Profile_details .contentBox button {
    margin-top: 20px;
  }
  .Profile .Profile_status {
    font-size: 1.3em;
    text-align: center;
  }
}
