.Questionaire {
  width: 100%;
  padding: 0 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Questionaire h1 {
  font-size: 2.5em;
  letter-spacing: 4px;
}
.Questionaire form {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Questionaire form .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}
.Questionaire form .wrapper .left,
.Questionaire form .wrapper .right {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Questionaire form input,
.Questionaire form select,
.Questionaire form select option,
.Questionaire form .wrapper .left input,
.Questionaire form .wrapper .right input,
.Questionaire form .wrapper .right textarea {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  margin: 7px 0;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  outline: none;
  background-color: #dfdfdf;
}
.Questionaire form select {
  max-width: 150px;
}
.Questionaire form .wrapper .right textarea {
  resize: none;
  height: 94px;
}
.Questionaire form h3 {
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 5px;
  position: relative;
  left: -10px;
}
.Questionaire form p {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 15px;
}
.Questionaire form p::after {
  content: "*";
  color: #f00;
}
.Questionaire form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.Questionaire form .inputBox:last-of-type {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}
.Questionaire form .inputBox label {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0 5px;
  text-align: left;
}
.Questionaire form .inputBox input[type="radio"] {
  margin-left: 10px;
}
.Questionaire form .inputBox.socialUse input[type="checkbox"] {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.Questionaire form .inputBox.socialUse label {
  margin-right: 20px;
}
.Questionaire form input[type="radio"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0;
  margin: 0px;
}
.Questionaire form input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
  margin: 0px;
  margin-right: 10px;
}
.Questionaire form button {
  width: 100px;
  padding: 10px 15px;
  margin: 7px 0;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #564ed3;
}
.Questionaire form button:hover {
  background-color: #413a9e;
}
.Questionaire .termsAndCondition {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: calc(100% - 60px);
  max-width: 800px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  padding: 60px;
  background-color: #fff;
  box-shadow: 0 0 6000px 5000px rgba(0, 0, 0, 0.2);
  z-index: 6;
}
.Questionaire .termsAndCondition.active {
  display: flex;
}
.Questionaire .termsAndCondition button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgb(255, 27, 72);
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.Questionaire .termsAndCondition button:hover {
  background-color: crimson;
}
.Questionaire .termsAndCondition ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.Questionaire .termsAndCondition ul li {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}
.Questionaire .termsAndCondition ul li:nth-of-type(4) {
  display: block;
}
.Questionaire .termsAndCondition ul li:nth-of-type(4) ul {
  position: relative;
  left: 50px;
  width: calc(100% - 50px);
}
.Questionaire .termsAndCondition ul li svg {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .Questionaire {
    padding: 0 20px;
    padding-bottom: 50px;
  }
  .Questionaire h1 {
    font-size: 1.8em;
  }
  .Questionaire form .wrapper {
    margin: 10px 0;
    flex-direction: column;
  }
  .Questionaire form .wrapper .left,
  .Questionaire form .wrapper .right {
    width: 100%;
  }
  .Questionaire form p {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 16px;
    text-align: left;
  }
  .Questionaire form input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 5px;
  }
  .Questionaire form .inputBox.socialUse {
    width: 130px;
    flex-wrap: wrap;
  }
  .Questionaire form .inputBox.socialUse label {
    width: 75px;
    margin: 5px;
  }
  .Questionaire form .inputBox.termsUse label {
    font-size: 13px;
    width: calc(100% - 30px);
  }
  .Questionaire .termsAndCondition {
    padding: 40px 20px;
    font-size: 13px;
  }
  .Questionaire .termsAndCondition ul li:nth-of-type(4) ul {
    left: 20px;
    width: calc(100% - 20px);
  }
}
