.Body {
  margin-top: 250px;
  text-align: center;
}
#myInput {
  background-position: 10px 12px;
  background-color: #efefef;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #ddd;
  background-color: #bfe6ff;
  font-size: 18px;
  margin: auto;
}

#myTable th {
  text-align: left;
  padding: 12px;
  width: 40px;
}
#myTable td {
  text-align: left;
  padding: 12px;
  width: 40px;
}
tr a 
{
  text-decoration: none;
  color: black;
}
tr {
  background-color: #c2bfff;
}

tr:nth-child(even) {
  background-color: #a5a0ff;
}
#myTable tr:hover {
  background-color: #f1f1f1;
}
