.Task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Task h1 {
  letter-spacing: 5px;
}
.Task .Task_taskCount {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.Task .Task_taskCount h3 {
  font-weight: 600;
  letter-spacing: 2px;
  color: green;
}
.Task .Task_taskCount h3:nth-of-type(2) {
  color: red;
}
.Task .Task_taskCount h3:nth-of-type(3) {
  color: #6c63ff;
}
.Task_List .navbar button
{
  display: block;
  color: black;
}
.submitted-proofs b
{
  font-size: 1vw;
}
.submit-heading
{
  margin-bottom: 2vh;
}
.submitted-proofs > div 
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.submitted-proofs #edit
{
  background-color: rgb(177, 177, 8);
}
.submitted-proofs .button-group #delete
{
  background-color: red;
  display: none;
}
#edit-submit
{
  display: none;
}
.submitted-proofs > button 
{
  margin-bottom: 2vh;
}
.submitted-proofs
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .Task .Task_taskCount {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
}
.Task_List {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.Task_List .navbar {
  width: 100%;
  padding: 0 30px;
  max-width: 1150px;
  position: relative;
  height: 35px;
  margin-bottom: 10px;
}
.Task_List .navbar button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 20px;
  padding: 0 5px;
  color: rgb(17, 17, 17);
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .Task_List .navbar {
    display: flex;
    justify-content: space-between;
  }
  .Task_List .navbar button {
    margin: 0;
  }
}
.Task_List .navbar #Task_List_marker {
  height: 4px;
  border-radius: 4px;
  background-color: #6c63ff;
  position: absolute;
  bottom: 0;
  transition: 0.4s;
}
.Task_List ul {
  list-style: none;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}
.Task_List ul li {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #a3a3a3;
  cursor: pointer;
}
.Task_List ul li p {
  font-weight: 500;
  letter-spacing: 1px;
}
.fullTaskView {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  height: fit-content;
  max-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #a3a3a3;
  box-shadow: 0px 0px 250px 266px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  z-index: 999;
  cursor: auto;
  overflow-y: scroll;
}
.fullTaskView button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.fullTaskView button svg {
  margin-left: 5px;
}
.fullTaskView .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}
.fullTaskView .taskDesc {
  font-size: 14px;
  font-weight: 500;
  word-spacing: 3px;
  letter-spacing: 0;
}
.fullTaskView .formGroup {
  width: 100%;
  margin: 5px 0;
}
.fullTaskView .formGroup p {
  font-size: 12px;
  font-weight: 600;
}
.fullTaskView .formGroup input {
  width: 100%;
  background-color: #b9b9b9;
  padding: 5px 14px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0 10px 0;
}
.fullTaskView .formGroup button {
  background: #179d25;
  color: #fff;
  font-size: 12px;
  padding: 5px 18px;
  letter-spacing: 1px;
  font-weight: 550;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.fullTaskView .formGroup button:hover,
.fullTaskView .formGroup button:active {
  background: #064b0d;
}
.fullTaskView .feedback {
  width: 100%;
  font-size: 13px;
}
.fullTaskView .feedback span {
  color: red;
  font-weight: 550;
}
